body {
    margin: 0;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: 'Bungee Shade';
    src: url(fonts/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url(fonts/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Barlow Semi Condensed Bold';
    src: url(fonts/BarlowSemiCondensed-ExtraBold.ttf);
}

@font-face {
    font-family: 'Bungee Outline';
    src: url(fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url(fonts/BarlowCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Barlow Condensed Bold';
    src: url(fonts/BarlowCondensed-Bold.ttf);
}

main {
    padding: 0 20px;
    margin: 50px auto;
    height: 2000px;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

main > p {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 7vw;
    font-family: 'Bungee Shade';
    font-weight: bold;
}

p, 
ol {
    line-height: 1.4;
}

nav {
    margin: 50px 0 60px 0;
    font-size: 2vw;
    font-family: 'Barlow Semi Condensed';
    text-align: center;
    display: flex;
    gap: 5px;
}

nav a {
    padding: 15px;
    color: black;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    flex-basis: 0;
    flex-grow: 1;
}

nav a:nth-child(2) {
    font-family: 'Barlow Semi Condensed Bold';
    border: 2px solid white;
}

a:nth-child(2):hover {
    cursor: default;
}

/*
a:nth-child(1):hover,
a:nth-child(3):hover,
a:nth-child(4):hover */
.hover_link:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
    height: auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 20px;
    font-family: 'Barlow Condensed';
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
}

.text {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 10px;
}

.text p:first-child {
    margin: 0;
    font-size: 1.7vw;
    font-family: 'Bungee Outline';
    font-weight: bold; 
}

.text p:nth-child(2) {
    margin: 0;
    font-size: 1.6vw;
    font-family: 'Barlow Condensed Bold';
}

.text p:nth-child(3) {
    margin-top: 50px;
    margin-bottom: 0;
}

.text ul,
.text p,
.info {
    font-size: 1vw;
}

.text ul {
    margin-top: 0;
    margin-bottom: 50px;
    list-style-type: none;
}

.album {
    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-template-rows: 15vw 15vw auto;
    gap: 10px;
}

.album div:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    position: relative;
}

.album div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.album div img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1.5s;
}

.album div img:nth-child(2):hover {
    opacity: 0;
}

.album div:nth-child(2),
.album div:nth-child(3) {
    padding: 15px;
    background-color: rgb(240, 221, 187);
    color: rgb(47, 49, 44);
}

.album div:nth-child(2) {
    border-bottom-left-radius: 20px;
}

.album div:nth-child(3) {
    border-bottom-right-radius: 20px;
}

h6 {
    margin: 0;
    font-size: 1.3vw;
}

ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    font-size: 0.9vw;
}

.info {
    margin-top: 10px;
    color: rgb(240, 221, 187);
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.info span {
    padding: 30px 15px;
    background-color: rgb(47, 49, 44);
    
    display: flex;
    align-items: center;
}

.info span:nth-child(1) {
    border-radius: 20px 0 20px 20px;
}

.info span:nth-child(2) {
    border-radius: 20px 20px 20px 0;

    grid-column: 3 / span 2;
}

.info span:nth-child(3) {
    padding-bottom: 15px;
    background-image: url(images/Loretta\ Lynn.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 0 20px 20px 20px;
}

.info span:nth-child(3) p {
    margin: 0;
    align-self: end;
}

.info span:nth-child(4) {
    border-radius: 20px 20px 0 20px;
}