body {
    margin: 0;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: 'Bungee Shade';
    src: url(fonts/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url(fonts/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Barlow Semi Condensed Bold';
    src: url(fonts/BarlowSemiCondensed-ExtraBold.ttf);
}

@font-face {
    font-family: 'Bungee Outline';
    src: url(fonts/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url(fonts/BarlowCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Barlow Condensed Bold';
    src: url(fonts/BarlowCondensed-Bold.ttf);
}

main {
    margin: 50px auto;
    height: 2000px;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

h1 {
    margin: 0;
    padding-left: 20px;
    font-size: 60px;
    font-family: 'Bungee Shade';
    color: rgba(255, 255, 255, 0.7);
}

nav {
    margin: 20px;
    display: flex;
    gap: 5px;
    font-size: 23px;
    font-family: 'Barlow Semi Condensed';
    text-align: center;
}

a {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    flex-grow: 1;
    color: black;
    text-decoration: none;
}

a:nth-child(2) {
    font-family: 'Barlow Semi Condensed Bold';
    border: 2px solid white;
}

a:nth-child(2):hover {
    cursor: default;
}

/*
a:nth-child(1):hover,
a:nth-child(3):hover,
a:nth-child(4):hover */
.hover_link:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.wrapper {
    height: auto;
    margin: 60px 20px;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: 1px solid white;
    font-family: 'Barlow Condensed';
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
}

.text {
    color: white;
}

h2 {
    font-size: 20px;
    font-family: 'Bungee Outline';
    display: inline;
}

h3 {
    margin: 0;
    font-size: 22px;
    font-family: 'Barlow Condensed Bold';
}

ul {
    list-style-type: none;
    position: relative;
    top: -15px;
}

.text p {
    margin-top: 40px;
}

.album {
    width: 60vw;
    margin: 15px 0 15px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 10px;
}

.album div:first-child {
    height: 25vw;
    background-image: url(images/album\ himmelen.jpg);
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: background-image 1.5s;

    grid-column: 1 / span 2;
    grid-row: 1;
}

.album div:first-child:hover {
    background-image: url(images/album\ himmelen\ 2.jpg);
}

ol {
    margin: 0;
    font-size: 12px;
    color: rgb(80, 80, 80);
}

.album div:nth-child(2) {
    padding: 10px 10px 10px 0;
    background-color: rgb(255, 253, 236);
    border-bottom-left-radius: 20px;

    grid-column: 1;
    grid-row: 2;
}

.album div:nth-child(3) {
    padding: 10px 10px 10px 0;
    background-color: rgb(255, 253, 236);
    border-bottom-right-radius: 20px;

    grid-column: 2;
    grid-row: 2;
}

.info {
    margin-bottom: 10px;
    font-size: 12px;
    color: rgb(255, 253, 236);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    position: relative;
    top: -5px;
}

.info span {
    padding: 30px 10px;
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info span:nth-child(1) {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    grid-column: 1;
}

.info span:nth-child(2) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    grid-column: 3 / span 2;
}

.info span:nth-child(3) {
    background-image: url(images/Loretta\ Lynn.jpg);
    background-size: cover;
    background-position: top;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    grid-column: 5;
}

.info span:nth-child(4) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    grid-column: 6;
}